Newsletter_Fondamentale_Automatique_Telegram.json
{
  "name": "Telegram",
  "nodes": [
    {
      "parameters": {
        "sendTo": "exemple@gmail.com",
        "subject": "=Actu Fonda - {{ $now.format('dd/MM/yy') }}",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        1024
      ],
      "id": "6fe30e06-f32f-497e-92e3-ee559e8c049b",
      "name": "Send a message",
      "webhookId": "4976a6fe-82ee-4e6f-a965-ccb42de0308a",
      "credentials": {
        "gmailOAuth2": {
          "id": "F1SnwLohsQRUoY1r",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://t.me/s/InfosItons",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1024
      ],
      "id": "8e80f091-45a9-43f5-973d-1ae24cadcba6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "=actu",
              "cssSelector": ".tgme_widget_message_text",
              "returnArray": true
            },
            {
              "key": "date",
              "cssSelector": "time",
              "returnValue": "attribute",
              "attribute": "datetime",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        496,
        1024
      ],
      "id": "ee8ca942-a500-49a6-a2de-7f45213cc791",
      "name": "HTML4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4cab1120-11ba-4510-8e41-325e80c91090",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.minus({ days: 1 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        944,
        1024
      ],
      "id": "1f204035-a76d-4614-a36a-b8f41475b470",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "actu, date",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        1024
      ],
      "id": "76dca795-4812-4592-9e56-9a69ac862e79",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "actu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        1024
      ],
      "id": "e1c4e6b7-b30d-4a20-8499-0ddd0665172a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01e2801a-3017-4747-a015-57af39dcbab6",
              "name": "liste_actu",
              "value": "={{ $json.actu.join('\\n---\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        1024
      ],
      "id": "0a101f99-d596-4a8e-bc59-048d166ce719",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        1024
      ],
      "id": "51db2afb-87bd-49b5-8811-914b4cf7ec06",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://t.me/s/decentra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        832
      ],
      "id": "9b1b6e13-2b6c-4ad6-b3a5-b8d8f1741a6b",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "https://t.me/s/flashinfomonde",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1216
      ],
      "id": "47ad46ee-b418-44e9-8552-8e5c17e992f9",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1616,
        1232
      ],
      "id": "c5d9eb72-7c39-4731-856d-4cd30c1249ff",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i3GV7kpMoV8LksZD",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un analyste expert en Web3 et Macro-économie avec 15 ans d'expérience. Ta mission est de synthétiser les actualités Telegram suivantes pour un investisseur pressé mais exigeant.\n\nVoici les news brutes des dernières 24h :\n{{ $json.liste_actu }}\n\n---\n\n### STRUCTURE DU RAPPORT :\n\n1. 🚀 **Le Top 3 Stratégique** : Identifie les 3 news les plus importantes. Pour chacune, explique en une phrase *pourquoi* c'est crucial (l'impact potentiel sur le marché).\n2. 📊 **Analyse Thématique** : Regroupe le reste des informations par catégories (ex: Régulation/Politique, Adoption Institutionnelle, Écosystème NFT/Crypto).\n3. 💡 **Le \"Sentiment du Jour\"** : Donne une tendance globale (Bullish, Bearish ou Neutre) basée sur ces informations.\n\n### TON ET STYLE :\n- Professionnel, concis et analytique.\n- Utilise des émojis pertinents pour la lisibilité.\n- Ne répète pas les liens URL, concentre-toi sur la synthèse du contenu.\n- Si une news concerne Trump ou la Fed, accorde-lui une attention particulière.\n\nRéponds directement en HTML.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1616,
        1024
      ],
      "id": "050cdf64-451d-46bf-ba51-e59e541de519",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "75e89a40-5870-4e54-b3c5-78c6dab4d592",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34720ea3d4cdf759f71f22dcfa0a360c966398fab856b7e44b4b173005b208e4"
  },
  "id": "jEwUmPelZHea8CK3pQhhY",
  "tags": []
}